# Database & Redis
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ticketing_db?schema=public"
REDIS_URL="redis://localhost:6379"

# JWT Auth
JWT_SECRET="super-secret-jwt-key-change-in-production-12345"
JWT_EXPIRES_IN="1d"

# Gateway Port
PORT=8000

# Service Ports / URLs (internal or container)
AUTH_SERVICE_URL="http://localhost:8001"
EVENT_SERVICE_URL="http://localhost:8002"
BOOKING_SERVICE_URL="http://localhost:8003"
PRICING_SERVICE_URL="http://localhost:8004"
ANALYTICS_SERVICE_URL="http://localhost:8005"
NOTIFICATION_SERVICE_URL="http://localhost:8006"

# Frontend URL for CORS
FRONTEND_URL="http://localhost:3000"
